div.footer__block.footer__block--links p.h6{
    background-color: rgba(0,0,0,0.005) !important;
}

div.footer__block.footer__block--links ul>li>a{
    background-color: rgba(0,0,0,0.005) !important;
}

div.footer__block.footer__block--newsletter div.prose.text-subdued>p{
     background-color: rgba(0,0,0,0.005) !important;
}


div.footer__block.footer__block--newsletter p.h6{
     background-color: rgba(0,0,0,0.005) !important;
}

div.footer__block.footer__block--text p.h6{
      background-color: rgba(0,0,0,0.005) !important;
}

div.footer__block.footer__block--text  div.prose.text-subdued>p{
     background-color: rgba(0,0,0,0.005) !important;
}

div.footer__aside p.heading.text-subdued.text-xxs{
    background-color: rgba(0,0,0,0.005) !important;
}

section#shopify-section-template--16872426602754__ce05baa8-8b14-4699-8f6c-79e554966767 h2.h6{
     background-color: rgba(0,0,0,0.005) !important;
}

section#shopify-section-template--16872426602754__ce05baa8-8b14-4699-8f6c-79e554966767 h2.h1>em>strong{
     background-color: rgba(0,0,0,0.005) !important;
}

section#shopify-section-template--16872426602754__ce05baa8-8b14-4699-8f6c-79e554966767 h3.h6{
     background-color: rgba(0,0,0,0.005) !important;
}

section#shopify-section-template--16872426602754__ce05baa8-8b14-4699-8f6c-79e554966767 p{
     background-color: rgba(0,0,0,0.005) !important;
}

section#shopify-section-template--16872426602754__d6391080-5d6e-4596-8a0e-85c6449edc18 h2>em{
     background-color: rgba(0,0,0,0.005) !important;
}

section#shopify-section-template--16872426602754__d6391080-5d6e-4596-8a0e-85c6449edc18 div>p{
      background-color: rgba(0,0,0,0.005) !important;
}

label[for="input--sections--16872427159810__footer--contactemail" ]{
      background-color: rgba(0,0,0,0.005) !important;
}

#slidecarthq > div.slidecarthq.right.light.cartEmpty.checkpoint > div > p{
    color: #757575 
}

sale-price.h6.text-on-sale>span.sr-only{
      background-color: rgba(0,0,0,0.005) !important;
}

price-list.price-list>sale-price.h6.text-on-sale{
      background-color: rgba(0,0,0,0.005) !important;
}

section.shopify-section.shopify-section--faq span.accordion__toggle.text-lg{
      background-color: rgba(0,0,0,0.005) !important;
}


section.shopify-section.shopify-section--faq div.accordion__content {
      background-color: rgba(0,0,0,0.005) !important;
}

section.shopify-section.shopify-section--faq div.section-header>div.prose>p.h6{
      background-color: rgba(0,0,0,0.005) !important;
} 

section.shopify-section.shopify-section--faq div.section-header>div.prose>h2.h2{
      background-color: rgba(0,0,0,0.005) !important;
}   

section.shopify-section.shopify-section--faq p.faq__category.h4{
      background-color: rgba(0,0,0,0.005) !important;
}

span.yotpo-selected-value__label--inside{
    background-color: rgba(0,0,0,0.005) !important; 
}

section#shopify-section-template--19064694145282__029a3859-68e8-4eac-b938-c3d24c72da0c h3.h6{
        background-color: rgba(0,0,0,0.005) !important; 
}

section#shopify-section-template--19064694145282__029a3859-68e8-4eac-b938-c3d24c72da0c h2.h1{
        background-color: rgba(0,0,0,0.005) !important; 
}

section#shopify-section-template--19064694145282__029a3859-68e8-4eac-b938-c3d24c72da0c p{
        background-color: rgba(0,0,0,0.005) !important; 
}

div#easy-faq-app-default-display h2#AdditionalQuestions{
       background-color: rgba(0,0,0,0.005) !important; 
}

div.faq-plus-accordian h2#MyAccount{
         background-color: rgba(0,0,0,0.005) !important; 
}

div.faq-plus-accordian h2#ShippingReturns{
         background-color: rgba(0,0,0,0.005) !important; 
}

div.faq-plus-accordian h2#Products {
         background-color: rgba(0,0,0,0.005) !important; 
}

div.faq-plus-accordian h2#OrderStatus {
         background-color: rgba(0,0,0,0.005) !important; 
}

div.faqPlusAppContent a[href="tel:8777724362"] {
     background-color: rgba(0,0,0,0.005) !important;   
}

div.faqPlusAppContent a[href="mailto:info@biopharmasci.com"]{
     background-color: rgba(0,0,0,0.005) !important;   
}

label[for="input--template--16872426668290__contact-form--contactbody"]{
     background-color: rgba(0,0,0,0.005) !important;   
}

label[ for="input--template--16872426668290__contact-form--contactname" ]{
     background-color: rgba(0,0,0,0.005) !important;   
}
label[ for="input--template--16872426668290__contact-form--contactemail" ]{
     background-color: rgba(0,0,0,0.005) !important;   
}

label[ for="input--template--16872427028738__main--customeremail"]{
   background-color: rgba(0,0,0,0.005) !important;      
}

label[for="input--template--16872427028738__main--customerpassword"]{
   background-color: rgba(0,0,0,0.005) !important;      
}

div#shopify-block-AN29Nd1lUK0JkaUNSS__byob_build_your_own_bundle_byob_product_grid_block_hz6WpK p.lb-price-wrapper b.lb-price{
  background-color: rgba(0,0,0,0.005) !important;     
}

div#byob-bundle-text h1#byob-bundle-header {
    background-color: rgba(0,0,0,0.005) !important;  
}

div.fb-submit.form-group.field-button-1481029333721 div.aaa_captcha_cont{
       background-color: rgba(0,0,0,0.005) !important;  
}

button#button-1481029333721{
     color: black !important;
}

section#shopify-section-template--16968027930882__6b2844b2-6514-4cb4-b0bf-79ccaa05a5d1 h2.h1{
       background-color: rgba(0,0,0,0.005) !important;  
}

#shopify-section-template--16968027930882__6b2844b2-6514-4cb4-b0bf-79ccaa05a5d1 > div > image-with-text > div > div > h5{
      background-color: rgba(0,0,0,0.005) !important; 
}

div.adabundle-statement-content p>strong{
     font-weight: bold !important;
}